
* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.welcome-title, .category-instructions {
  text-align: center;
}

.welcome-title {
  font-size: xxx-large;
}

.category-instructions {
  font-weight: lighter;
  font-size: large;
}

.category-list {
  display: grid;
  place-items: center;
  padding: 10px;
  
}

#QA-headings-block {
  text-align: center;
  margin: 40px;
}

#QA-headings-block p {
  font-size: large;
}

#QA-headings-block h1 {
  font-size: xx-large;
}

button:hover {
  border-color: blueviolet;
  background-color: black;
  color: white;
}
.answer-buttons:focus,
.answer-buttons:focus-visible {
  outline: 4px auto blueviolet;
  background-color: black;
  color: white;
}

.answer-button1 {
  background-color: #b51963;
  color: white;
    /* red */
  }

.answer-button2 {
  background-color: #ffc600;
  color: black;
  } 

.answer-button3 {
background-color: #2546f0; 
color: white;
  /* blue, w/ white */
}

.answer-button4{
background-color: #056f50;
color: white;
}


.answer-buttons, .category-buttons {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 15px;
}


#QA-block {
  border: 2px solid black;
  border-radius: 20px;
  max-width: 600px;
  padding: 100px;
  margin: 10px;
  place-content: center;
  margin: auto;
  width: 50%;
  
}

.next-question-button, .finished-quiz-button {
  float: right;
  padding: 15px;
  font-size: large;
  font-weight: bold;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.question-title {
  font-size: x-large;
  font-weight: 700;
}

.answer-title {
  font-size: x-large;
  font-weight: 700;
}

.question-text {
  font-size: large;
}